body {
    background-color: #EDF6F9;
    color: #006D77;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    font-style: normal;
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#product-header {
    display: flex;
}

#product-header h4 {
    width: 10%;
    margin: 2%;}

p {
    font-family: "Kulim park", sans-serif;
    font-size: 70%;
    font-weight: 200;
    width: 10%;
    margin: 3%;
}

.product-modification {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 10px;
}
.product-modification img {
    margin: 10% 0%;
}

input[type="number"], 
input[type="text"] {
    border: #006D77 solid 2px;

}

input[type="number"], 
input[type="text"]{
    width: 8%;
    margin: 0% 2%;
    /* Réinitialisez les styles de bordure et d'ombre */
    border: none;
    outline: none;
    box-shadow: none;

    /* Appliquez vos propres styles */
    border: #006D77 solid 2px;
}

button {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    margin: 10px 0px;
    border-radius: 100rem;

}

.modify-btn-pen, .modify-btn-cross {
    border-radius: 100rem;
    box-shadow: black 0px 0px 10px;
}
.modify-btn-pen, .modify-btn-cross {
    cursor:pointer;
}

#add-btn{
    background-color: #006D77;
    color: #EDF6F9;
    padding: 1%;
    border: none;
    border-radius: 30em;
    box-shadow: 0px 0px 5px gray;
}

input.modify-input {
    width: 100%;
}